<footer class="hartford-footer">

  <div class="footer-top">

    <div class="footer-col">
      <h4>Products</h4>
      <ul>
        <li>Auto</li>
        <li>Home</li>
        <li>Business</li>
        <li>Employee Benefits</li>
        <li>Mutual Funds</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Company</h4>
      <ul>
        <li>About Us</li>
        <li>Careers</li>
        <li>Agents & Producers</li>
        <li>Newsroom</li>
        <li>Investor Relations</li>
        <li>Mobile App</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Connect</h4>
      <ul>
        <li>Contact Us</li>
        <li>Report a Claim</li>
        <li>Find an Agent</li>
        <li>Small Business Playbook</li>
        <li>Small Biz Ahead</li>
        <li>Extra Mile</li>
      </ul>
    </div>

    <div class="footer-col account">
      <h4>Access Your Account</h4>
      <p>View your policy, pay your bill, view claims status and more.</p>

      <button class="login-btn">Auto & Home Login</button>
      <button class="login-btn">Business Insurance Login</button>
    </div>

  </div>

  <hr />
  <div class="footer-bottom">

    <div class="footer-brand">
      <span>The Hartford</span>
    </div>

    <div class="footer-links">
      <a>Legal Notice</a>
      <a>Accessibility Statement</a>
      <a>Producer Compensation</a>
      <a>EEO</a>
      <a>Privacy Policy</a>
      <a>Your California Privacy Choices</a>
    </div>


  </div>

  <div class="footer-copy">
    © 2026 The Hartford
  </div>

</footer>
