* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1f5f9;
}

.form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    max-width: 420px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h3 {
    margin-top: 12px;
    color:blue;
}

p {
    margin-bottom: 20px;
    color: gray;
    font-weight: 700;
    font-size:12px;
    margin-top:10px;
}

.field {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.input-field:focus {
    border-color: #2563eb;
    outline: none;
}

.radio-group {
    display: flex;
    gap: 15px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1e40af;
}

.success-msg {
    color: green;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
