# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# Visual Studio files
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Debug / Release
# =========================
Debug/
Release/
x64/
x86/
build/
out/

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store

# =========================
# NuGet packages
# =========================
packages/

# =========================
# Test results
# =========================
TestResults/

# =========================
# Publish output
# =========================
publish/

# =========================
# Environment files
# =========================
.env
